# config file for DYCAST python scripts

##########################################################################
[system]
##########################################################################

logfile:           dycast_log.txt
import-directory:  inbox
export-directory:  outbox

##########################################################################
[database]
##########################################################################

# Postgresql database connection:
# You may have to modify these depending on how postgresql was installed

db-name:        dycast
db-user:        postgres
db-password:    postgres
db-host:        localhost
db-port:        5432

##########################################################################
[dycast]
##########################################################################

system-srid: 3857